<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
<title> ORDER METHODs</title>
</head>
<body>
<div class="container">
<h1 class="text-center bg-primary">This is ALL ORDER METHOD's</h1>

<br><h3><marquee th:text="${id1}"></marquee></h3><br>
<br>
<a th:href="@{/orderMethod/excelExport}"><button class="btn btn-primary">Excel Report</button></a>
<a th:href="@{/orderMethod/pdfExport}"><button class="btn btn-warning">PDF Report</button></a>
<br>
<table  class="table table-hover">
<tr class="bg-info"> 
<th >ID</th> 
<th >ORDER METHOD MODE</th> 
<th >ORDER METHOD CODE</th> 
<th >ORDER METHOD TYPE</th> 
<th >ORDER METHOD ACCEPT</th>
<th >ORDER METHOD Description</th>
<th colspan="2">Operation</th> 
</tr>

<tr th:each="e : ${orderMethods}">
<td th:text="${e.orderMId}"></td>
<td th:text="${e.orderMMode}"></td>
<td th:text="${e.orderMCode}"></td>
<td th:text="${e.orderMType}"></td>
<td th:text="${e.orderMAccept}"></td>
<td th:text="${e.orderMDesc}"></td>
<td >
 <a  th:href="@{/orderMethod/delete?orderMId={id}(id=${e.orderMId})}">
<button id="delete" class="btn btn-outline-danger delete">DELETE </button> </a> 
</td>
<td > <a th:href="@{/orderMethod/edit?orderMId={id}(id=${e.orderMId})}">
<button class="btn btn-outline-primary">  EDIT</button> </a>
</td>
 </tr>
</table>
</div>
</body>
<script type="text/javascript">
$(document).ready(function(){
	$(".delete").click(function(){
		 return confirm("are you sure to delete ? ");
	});
});

</script>
</html>